<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">Library</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Books</a></li>
            <li><a href="/libraries">Libraries</a></li>
            <li><a href="/addbook">Add</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

