<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">Library</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/libraries">Libraries</a></li>
            <li><a href="/books">Books</a></li>
            <li>
                <a class="btn-floating btn-large waves-effect waves-light pink"><i class="material-icons">add</i></a>
            </li>
        </ul>
    </div>
</nav>