<% include _header.ejs %>
<%include _navbar.ejs%>
<div class="c">
        <div class="row">
            <form method="post" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Book Name</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form  method="post" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Author</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Year</label>
                    </div>
                </div>
            </form>
        </div>
</div>

<% include _footer.ejs %>