<% include _header %>
<% include _navbar.ejs %>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Library</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% booklist.forEach(function (book) { %>
            <tr>
                <td onclick="document.location='/index'"><%= book.name %></td>
                <td><%= book.author %></td>
                <td onclick="document.location='/library'"><%= library[book.library_id - 1].name %></td>
                <% if(book.status == 1){ %>
                    <td>In Library</td>
                <% }else{ %>
                    <td>In Use</td>
                <% } %>
            </tr>
        <% }) %>

        </tbody>
    </table>
</div>
<% include _footer %>