<% include _header %>
<% if(user === undefined){ %>
    <% include _navbar_guest.ejs %>
<% }else{ %>
<% include _navbar_auth.ejs %>
<%}%>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center pink-text">Application for libraries</h1>
        <div class="row center">
            <h5 class="header col s12 light">A modern responsive web-application for libraries</h5>
        </div>
        <div class="row center">
            <a href="/all_booklist" id="download-button" class="btn-large waves-effect waves-light  red accent-1">Get Started</a>
        </div>
        <br><br>

    </div>
</div>

<%include _footer.ejs%>