<% include _header%>
<%include _navbar.ejs%>
<div class="container">
<table>
    <thead>
    <tr>
        <th>Book</th>
        <th>Author</th>
        <th>Library</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Harry Potter and the philosopher's stone</td>
        <td>J. K. Rowling</td>
        <td>Hrodno central library</td>
        <td>In Library</td>
    </tr>
    <tr>
        <td>The Hobbit</td>
        <td>J.R.R.Tolkien</td>
        <td>Minsk central library</td>
        <td>In use</td>
    </tr>
    </tbody>
</table>
</div>
<%include _footer%>