<% include components/_header.ejs %>
<% if(user === undefined){ %>
    <% include components/_navbar_guest.ejs %>
<% }else{ %>
    <% include components/_navbar_auth.ejs %>
<% } %>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>Library</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <% libArr.forEach(function (library) { %>
            <tr>
                <td><%= library.name %></td>
                <td><%= library.location %></td>
            </tr>
        <% }) %>

        </tbody>
    </table>
</div>
<% include components/_footer.ejs %>